/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
}

h2 {
  font-size: 1.95em;
  font-weight: 300;
  color: #2C2B2B;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0px;
}

h4 {
  font-weight: 400;
}

h5 {
  font-size: 1.95em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 30px;
}

h6 {
  font-size: 1.60em;
  font-weight: 300;
  margin-top: 37px;
}

h7 {
  font-size: 1.3em;
  font-weight: 400;
}


img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {color: #474747;
}

a:hover,
a:focus {
  color: #1201E9;
}

a:active { color: #562337}


.button {
  display: inline-block;
  background-color: #2C2B2B;
  color:#ffffff;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #320F2A;
  transition: 0.2s opacity;
  margin-top: 25px;
  margin-bottom: 10px;
  }

 a.button:visited {
    color:#ffffff;
  }

  .button:hover {
  opacity: 0.8;
  color: #ffffff
}

.button:active { color: #9D7383}



.button.contact {
  background-color: transparent;
  color: #1201E9;
  text-transform: uppercase;
  border: 2px solid #261E40;
}


.button.contact:hover {
  background-color: #EECFDB;
  color: #000000;
  font-weight: 800;
}


header {
  background-color: #ffffff;
  padding: 4px 0 1px;
  position: fixed;
  margin: 0 auto;
  box-shadow:  0px 2px 3px 0px rgba(50, 50, 50, 0.10);
  width: 100%;
}


#phone {
  font-weight: 500;
}


/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 30px 0;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #2C2B2B; }



#logo {max-width: 40px;
  margin-left: 5px;
}


.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



nav > ul > li > a {

  font-weight: 400;
  font-size: 16px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 5px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 12px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #DBDADA;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 0px;
  border-top: None;
}






#hero {
  background-color: #fffff;
  display: inline-block;
  width: 100%;
  text-align: center;

  padding-bottom: 5px;
}

#hero span {
  display: block;
}

main {
  padding-top: 75px;
}


footer {
  text-align: center;
}

#email {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #2C2B2B;
}

#emailicon {
  max-width: 50px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-right: 15px;
}


#LinkedIn {
  max-width: 50px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

#Behance {
  max-width: 50px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: 15px;
}

#titleemail {
max-width: 40px;
margin-top: 25px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 15px;
}


#titlelinkedin {
max-width: 40px;
margin-top: 25px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 15px;
}

#titlebehance {
max-width: 40px;
margin-top: 25px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 15px;
}




.homepagepic img {
  max-width: 800px
}

#portrait  img {
  border-radius: 450px;
  max-width: 325px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
}

#portrait {
  text-align: center;
}

#skillsandtools {
  padding-top: 10px;
}


@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}


.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#featuredwork {
  margin-bottom: 30px;
  text-align: center;
}

#work {
  margin-top: 20px;
}


.homepagelogo img {
  max-width: 150px;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
  text-align: unset;
  padding: 2px 0 0px;
}

nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

body{
  font-size: 18px;
}

.col-md-6 {
  width: 50%;

}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 { margin-top: 0;}

#logo {
  max-width: 55px;
}

nav > ul > li {
  display: inline-block;
  padding: 0 15px;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

nav > ul {
  margin: 1em 0;
}

.navtoggle.responsive nav {
  padding: 0;
}

.navtoggle.responsive li  {
  display: inline-block;
  padding: 0 15px;
  border-top: none;
}

.navtoggle.responsive li:last-child  {
  padding: 0;
  border-top: None;
  display: None;
}

.homepagelogo img {
  max-width: 200px;
}


.titleimage img {
  max-width: 1000px;
}

#featuredwork {
  margin-bottom: 45px;
  text-align: center;
}

#emailicon {
  max-width: 60px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-right: 30px;
}


#LinkedIn {
  max-width: 60px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px;
}

#Behance {
  max-width: 60px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: 30px;
}

#titleemail {
margin-top: 40px;
margin-bottom: 0px;
}


#titlelinkedin {
margin-top: 40px;
margin-bottom: 0px;
}

#titlebehance {
margin-top: 40px;
margin-bottom: 0px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 65px;
}

h3 {
  margin-top: 55px;
  margin-bottom: 5px;
  }

  h5 {
    margin-bottom: 30px;
  }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {


  #logo {max-width: 55px;
  }

  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
  margin-right: auto;
  }


      main {
        padding-top: 135px;
        padding-bottom: 15px;
      }

#work {
  padding-top: 65px;
}


}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
